In [1]:
import pandas as pd
import numpy as np
from unidecode import unidecode
import matplotlib.pyplot as plt

In [3]:
local = "votacao_secao_2022_BR.csv"
arquivo = pd.read_csv(local,sep=";" ,encoding = "ISO-8859-1")

In [4]:
novo = arquivo[["NM_MUNICIPIO", "NR_VOTAVEL", "NM_VOTAVEL", "QT_VOTOS"]]

In [4]:
lista_candidatos = ["12", "13", "14", "15", "16", "21", "22", "27", "30", "44", "80", "95", "96"]
nome_arquivo = []
for j in lista_candidatos:
    #para todos
    print(j)
    df_auxiliar = {}
    df_auxiliar["df_candidato_"+j] = novo[novo["NR_VOTAVEL"]==int(j)]
    df_auxiliar["duplicadas"+j] = df_auxiliar["df_candidato_"+j].drop_duplicates("NM_MUNICIPIO")
    #getNome
    nome = df_auxiliar["df_candidato_"+j]["NM_VOTAVEL"].iloc[0]
    nome = nome.split(' ')
    variavel = ''
    for i in range(len(nome)):
        variavel = variavel + unidecode(nome[i])
        if i < len(nome) -1:
            variavel = variavel + "_"
    nome_arquivo.append(variavel)
    #execução do codigo
    for i in df_auxiliar["duplicadas"+j]['NM_MUNICIPIO']:
        aux = df_auxiliar["duplicadas"+j].loc[df_auxiliar["duplicadas"+j]['NM_MUNICIPIO'] == i]["QT_VOTOS"]
        soma = df_auxiliar["df_candidato_"+j].loc[df_auxiliar["df_candidato_"+j]['NM_MUNICIPIO'] == i].sum()
        aaa = df_auxiliar["duplicadas"+j].loc[df_auxiliar["duplicadas"+j]['NM_MUNICIPIO'] == i].replace(aux[aux.index[0]], soma["QT_VOTOS"])
        df_auxiliar["duplicadas"+j].loc[df_auxiliar["duplicadas"+j]['NM_MUNICIPIO'] == i] = aaa

    status = df_auxiliar["duplicadas"+j].to_csv(r"arquivo\resultado\\" + variavel + '.csv', index = False, header=True)

12
13
14
15
16
21
22
27
30
44
80
95
96

12
13
14
15
16
21
22
27
30
44
80
95
96

In [6]:
nome_arquivo

['CIRO_FERREIRA_GOMES',
 'LUIZ_INACIO_LULA_DA_SILVA',
 'KELMON_LUIS_DA_SILVA_SOUZA',
 'SIMONE_NASSAR_TEBET',
 'VERA_LUCIA_PEREIRA_DA_SILVA_SALGADO',
 'SOFIA_PADUA_MANZANO',
 'JAIR_MESSIAS_BOLSONARO',
 'JOSE_MARIA_EYMAEL',
 'LUIZ_FELIPE_CHAVES_D_AVILA',
 'SORAYA_VIEIRA_THRONICKE',
 'LEONARDO_PERICLES_VIEIRA_ROQUE',
 'VOTO_BRANCO',
 'VOTO_NULO']

In [6]:

local = "arquivo/resultado/" + "CIRO_FERREIRA_GOMES" + ".csv"
arquivo1 = pd.read_csv(local,sep=",") 
arquivo1.columns

Index(['NM_MUNICIPIO', 'NR_VOTAVEL', 'NM_VOTAVEL', 'QT_VOTOS'], dtype='object')

In [8]:
arquivo1["NM_MUNICIPIO"]

                  NM_MUNICIPIO  NR_VOTAVEL           NM_VOTAVEL  QT_VOTOS
0                     BRASÍLIA          12  CIRO FERREIRA GOMES     74308
1                  LIMA DUARTE          12  CIRO FERREIRA GOMES       223
2     SÃO SEBASTIÃO DO PARAÍSO          12  CIRO FERREIRA GOMES       896
3             SÃO LUIZ GONZAGA          12  CIRO FERREIRA GOMES       522
4                       CUIABÁ          12  CIRO FERREIRA GOMES      7573
...                        ...         ...                  ...       ...
5408                    ATENAS          12  CIRO FERREIRA GOMES        23
5409                   NAIRÓBI          12  CIRO FERREIRA GOMES         2
5410                   ARTIGAS          12  CIRO FERREIRA GOMES        14
5411                    HAVANA          12  CIRO FERREIRA GOMES         1
5412                    ABIDJÃ          12  CIRO FERREIRA GOMES         3

[5413 rows x 4 columns]